.itemBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.iconButton {
  margin-top: 0px;
  height: 60px;
}

.icon {
  color: #ede9f8;
  width: 70px;
  height: 70;
}

.textIcon {
  font-size: 12px;
  text-align: center;
  background-color: transparent;
  /* #FF8800 => color active */
  color: #ff8800;
  /* color: rgba(28, 27, 31, 1); */
  font-family: System;
  letter-spacing: 0.5;
  font-weight: 500;
  line-height: 12px;
}

.playButton {
  background-color: white;
  border-radius: 50%;
}
